/data/raw/
/data/interim/
/reports/improved_v1/models/
/reports/improved_v1/predictions/
.mplconfig/
/references/
/data/app/
/models/
/artifacts/audio/
.DS_Store
.env
__pycache__/
.ipynb_checkpoints/
*.pyc
venv/
.venv/
/reports/improved_v2/models/
/reports/improved_v2/predictions/
/reports/improved_v3/models/
/reports/improved_v3/predictions/
/reports/rolling_update/models/
/reports/rolling_update/predictions/
